[SddmGreeterTheme]
Name=Alci Archpaint
Description=SDDM Archpaint2 Theme using breeze components
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/arch-linux-calamares-installer/alci-sddm-plasma-archpaint
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=alci-archpaint
Theme-API=2.0
Author=guidobelix